.body__title {
    color: var(--Black-3, #030303);
    font-family: "Hammersmith One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left:15px;
    margin-right: 8px;
    margin-top: 35px;
    margin-bottom: 17px;
}

.body__text {
    color: var(--Black-3, #030303);
    font-family: "Fredoka";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right:8px;
    margin-top:0px;
    margin-bottom:16px;
    margin-left:8px;
}

.body__list {
    margin-bottom:30px;
    margin-left:40px;
}

.body__text__list{
    color: var(--Black-3, #030303);
    font-family: "Fredoka";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right:8px;
    margin-top:0px;
    margin-bottom:4px;
    margin-left:8px;
}

.body__little__title {
    color: var(--Black-3, #030303);
    font-family: "Fredoka";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.body__bold {
    font-weight: bold;
}

.body__img {
    width:80%;
    height:auto;
    flex-shrink: 0;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 15.66px;
}

.body__semi__title {
    color: var(--Black-3, #030303);
    font-family: "Fredoka";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.body__small__text {
    color: var(--Black-3, #030303);
    font-family: Fredoka;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
    margin-left: 36px;
}

.body__btn {
    display: inline-flex;
    padding: 14px 18px;
    align-items: center;
    gap: 24px;
    border-radius: 20px;
    background: var(--Orange-1, #FE603F);
    margin-left: 9%;
    margin-bottom: 24px;
}

.body__btn__img {
    width: 28px;
    height: auto;
}

.body__btn__text {
    color: var(--Black-1, #181818);
    font-family: Fredoka;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}