.menu__icon{
    width: 30px;
    height: 29.86px;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 11%;
    transform: translateY(160%);
}

.menu__text {
    color: var(--Black-2, #252525);
    font-family: "Hammersmith One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.menu__logo{
    display: flex;
    width: 117.523px;
    height: 75px;
    padding-right: 0.004px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top:15px;
    margin-left:25px;
}

.menu__icon__cross {
    width: 56px;
    height:56px;
}

.menu__icon__search {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-top: -61px;
    position:absolute;
    margin-left: 70%;
}

.menu__link {
    text-decoration: none;
    margin-left: 25%;
    transform: translateY(45%);
}

.menu__btn {
    flex-shrink: 0;
    min-width: 32px;
    min-height: 32px;
    margin-bottom: 19px;
    margin-top : 19px;
    margin-left: 90%;
    background: var(--Orange-1, #FE603F);
    border:none;
}

.menu__btn__cross{
    background-color: var(--Light-Orange, #E89352);
    border:none;
    position:absolute;
    margin-top: -75px;
    margin-left: 80%;
}

.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: var(--gray-800);
    color: var(--white);
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space5x) var(--space3x) var(--space3x);
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
}
.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}
  
.menu__link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--fs-xl);
    display: block;
}
  
.menu__link--silent {
    color: var(--gray-600);
    font-size: var(--fs-s);
}
  
.menu__item {
    margin-bottom: var(--space3x);
    padding-bottom: var(--space1x);
    border-bottom: 1px solid var(--white);
}
  
  
.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: var(--black);
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}
  
.menu-btn__bar::before {
    top: -10px;
}
  
.menu-btn__bar::after {
    top: 10px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--white);
}
  
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}
  
.header__menu {
    background-color:#E89352;
    z-index:15;
}

