.footer__class {
    background: var(--Black-2, #252525);
    display: flex;
    margin-top:0px
}

.footer__content {
    display:flex;
    flex-direction: column;
    margin-left: 14px;
    margin-top: 20px;
    margin-right: 14px;
    margin-bottom: 20px;
    gap:10px;
}

.footer__logo {
    width: 75px;
    height: 75.125px;
    flex-shrink: 0;
}

.footer__icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.footer__mmi__logo {
    width: 112.836px;
    height: 80.802px;
    flex-shrink: 0;
    margin-top: 25px;
}

.footer__festivhalloween__title {
    color: var(--Orange-2, #FF2C00);
    font-family: "Nosifer";
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: 25px;
    margin-left: 90px;
}

.footer_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__semi__title {
    color: var(--Orange-2, #FF2C00);
    font-family: Fredoka;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer__list {
    color: var(--Orange-2, #FF2C00);
    font-family: Fredoka;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer__icon__section {
    display: flex;
    flex-direction: row;
    gap: 21px;
}