.header {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__festivhalloween__title {
    color: var(--Gray-1, #DDD);
    font-family: "Nosifer";
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-left: 61px;
    margin-top: 43px;
    margin-right: 61px;
}

.header__img {
    width:100%;
    height: auto;
    flex-shrink: 0;
}

.header__title{
    color: var(--Gray-1, #DDD);
    font-family: "Hammersmith One";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position : absolute;
    margin-top: 60%;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 45px;
}
