.header__logo {
    width: 48px;
    height: 48.052px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom : 11px;
    margin-top: 11px;
    position: absolute;
    margin-left: 3%;
}

.header__icon__search {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-top: 21px;
    margin-bottom: 21.74px;
    position:absolute;
    margin-left: 80%;
}

.header__icon__menu {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-bottom: 19px;
    margin-top : 19px;
    margin-left: 90%;
}

.header__mobile {
    background: var(--Orange-1, #FE603F);
    width : 100%;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}